@import "./variable";
[data-role="border-top"]:after {
    content: "";
    display: block;
    position: absolute;
    left: -50%;
    width: 200%;
    height: 1px;
    top: 0;
    background: $border-color;
    transform: scale(0.5);
}
[data-role="border-bottom"]:after {
    content: "";
    display: block;
    position: absolute;
    left: -50%;
    width: 200%;
    height: 1px;
    bottom: 0;
    background: $border-color;
    transform: scale(0.5);
}
[data-role="border-left"]:after {
    content: "";
    display: block;
    position: absolute;
    top: -50%;
    width: 1px;
    height: 200%;
    left: 0;
    background: $border-color;
    transform: scale(0.5);
}
[data-role="border-right"]:after {
    content: "";
    display: block;
    position: absolute;
    top: -50%;
    width: 1px;
    height: 200%;
    right: 0;
    background: $border-color;
    transform: scale(0.5);
}
/*全局化，即不会被模块化*/
:global {
    .page__content {
        padding: 0 $edge_width;
    }
    #app {
        height: 100%;
        //主页tab样式
        .tabbar {
            background-color: #fff;
            &:after {
                content: "";
                display: block;
                position: absolute;
                left: -50%;
                width: 200%;
                height: 1px;
                top: 0;
                background: $border-color;
                transform: scale(0.5);
            }
        }
        //所有toolbar样式
        .toolbar {
            background: #fff;
            &:after {
                content: "";
                display: block;
                position: absolute;
                left: -50%;
                width: 200%;
                height: 1px;
                bottom: 0;
                background: $border-color;
                transform: scale(0.5);
            }
        }
        .page__background {
          background-color: #fff;
        }
        .back-button__icon {
            fill: #b3b3b3;
        }
    }
}